body {
    background-color: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    color: #FF6501;
}

#header-nav {
    background-color: black;
    border-radius: 0;
    border: 0;
}

#logo-img {
    height: 100px;
}

#nav-list a{
    color: #FF6501;
    text-align: right;
}

#nav-list a:hover {
    color: white;
}

.navbar-header button.navbar-toggle, .icon-bar {
    border: 1px solid black;
    color: #FF6501;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: black;
}

.iframes{
    width: 512px;
    height: 288px;
}

.video-wrapper{
    margin-bottom: 40px;
    text-align: center;
}

.video-description{
    margin-bottom: 15px;
}

/*Media Queries*/
@media (max-width: 768px){
    #logo-img {
    height: 40px;
}
    .video-wrapper{
        font-size: 16px;
    }
    .iframes{
    width: 100%;
    height: 144;
    }
}
