body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F8FF), to(#dcdcdc));
    background-image: -webkit-linear-gradient(top, #F8F8FF, #dcdcdc);
    background-image: -moz-linear-gradient(top, #F8F8FF, #dcdcdc);
    background-image: linear-gradient(to bottom, #F8F8FF, #dcdcdc);
}